body {
  padding: 10px;
}

#content {
  margin-left: 115px;
}

#masthead {
  margin-bottom: 50px;
  margin-left: 145px;
}

.entry-title, .page-title {
  line-height: 2em;
}

#primary {
  width: 94%;
}

.entry-content {
  margin-bottom: 20px;
  p {
    margin-top: 10px;
  }
}
